<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amayadream.bookstore.dao.IBooktypeDao">
    <resultMap id="BaseResultMap" type="com.amayadream.bookstore.pojo.Booktype">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="base">
        ID, NAME, DESCRIPTION
    </sql>

    <select id="selectAllType" resultMap="BaseResultMap" parameterType="string">
        SELECT DISTINCT <include refid="base"/>
        FROM BS_BOOKTYPE
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="string">
        SELECT
        <include refid="base"/>
        FROM BS_BOOKTYPE
        WHERE ID = #{id, jdbcType=VARCHAR}
    </select>

    <select id="selectByName" resultMap="BaseResultMap" parameterType="string">
        SELECT
        <include refid="base"/>
        FROM BS_BOOKTYPE
        WHERE NAME = #{name, jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.amayadream.bookstore.pojo.Booktype">
        INSERT INTO BS_BOOKTYPE (ID, NAME, DESCRIPTION)
        VALUES (sys_guid(), #{name, jdbcType=VARCHAR}, #{description, jdbcType=VARCHAR}
    </insert>

    <update id="update" parameterType="com.amayadream.bookstore.pojo.Booktype">
        UPDATE BS_BOOKTYPE
        <set>
            <if test="name != null and name != ''">
                NAME = #{name, jdbcType=VARCHAR},
            </if>
            <if test="description != null and description != ''">
                DESCRIPTION = #{description, jdbcType=VARCHAR},
            </if>
        </set>
        WHERE ID = #{id, jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="string">
        DELETE FROM BS_BOOKTYPE
        WHERE ID = #{id, jdbcType=VARCHAR}
    </delete>

</mapper>