<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amayadream.bookstore.dao.IUserDao">
  <resultMap id="BaseResultMap" type="com.amayadream.bookstore.pojo.User">
    <id column="USERID" property="userid" jdbcType="VARCHAR"/>
    <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
    <result column="FIRSTTIME" property="firsttime" jdbcType="VARCHAR"/>
    <result column="LASTTIME" property="lasttime" jdbcType="VARCHAR"/>
    <result column="STATUS" property="status" jdbcType="INTEGER"/>
    <result column="CODE" property="code" jdbcType="VARCHAR"/>
  </resultMap>

  <sql id="base">
    USERID, PASSWORD, FIRSTTIME, LASTTIME, STATUS, CODE
  </sql>

  <!-- 查询所有用户 -->
  <select id="selectAll" resultMap="BaseResultMap">
    SELECT * FROM
    (
    SELECT A.*,ROWNUM RN
    FROM
    (
    SELECT * FROM USERS
    ORDER BY TIME DESC
    ) A
    )
    WHERE RN BETWEEN #{start} and #{end}
  </select>

  <!-- 查询用户总数 -->
  <select id="count" resultMap="BaseResultMap" >
    SELECT COUNT(*) USERID
    FROM USERS
  </select>

  <!-- 根据用户id查询用户 -->
  <select id="selectByUserid" resultMap="BaseResultMap" parameterType="string">
    SELECT
    <include refid="base"/>
    FROM USERS
    WHERE USERID = #{userid, jdbcType=VARCHAR}
  </select>

  <!-- 插入用户 -->
  <insert id="insert" parameterType="com.amayadream.bookstore.pojo.User">
    INSERT INTO USERS (USERID, PASSWORD, FIRSTTIME, LASTTIME, STATUS, CODE)
    VALUES (#{userid, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR}, #{firsttime, jdbcType=VARCHAR},
    #{lasttime, jdbcType=VARCHAR}, #{status, jdbcType=INTEGER}, #{code, jdbcType=VARCHAR})
  </insert>

  <!-- 更新用户 -->
  <update id="update" parameterType="com.amayadream.bookstore.pojo.User">
    UPDATE USERS
    <set>
      <if test="password != null and password != ''">
        PASSWORD = #{password, jdbcType=VARCHAR},
      </if>
      <if test="firsttime != null and firsttime != ''">
        FIRSTTIME = #{firsttime, jdbcType=VARCHAR},
      </if>
      <if test="lasttime != null and lasttime != ''">
        LASTTIME = #{lasttime, jdbcType=VARCHAR},
      </if>
      <if test="status != null and status != ''">
        STATUS = #{status, jdbcType=INTEGER},
      </if>
      <if test="code != null and code != ''">
        CODE = #{code, jdbcType=VARCHAR},
      </if>
    </set>
    WHERE USERID = #{userid, jdbcType=VARCHAR}
  </update>

  <!-- 删除用户 -->
  <delete id="delete" parameterType="string">
    DELETE FROM USERS
    WHERE USERID = #{userid, jdbcType=VARCHAR}
  </delete>

</mapper>